/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.nav-bar {
    font-family: 'NanumSquare', 'Noto Sans KR', 'notokr', 'Nanum Gothic', 'Malgun Gothic', sans-serif;
    display: flex;
    width: 100vw;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,151,250);
    background: linear-gradient(135deg, rgba(0,151,250,1) 27%, rgba(10,156,251,0.9248074229691877) 47%, rgba(21,161,253,0.5018382352941176) 75%, rgba(36,168,255,0) 100%);
    padding: 20px;
    align-items: center;
    z-index: 1;
}

.nav-logo img {
    height: 24px;
    position: relative;
    left: 23vw;
}