.bg {
    padding-top: 60vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(0,151,250);
    background: linear-gradient(135deg, rgba(0,151,250,1) 0%, rgba(162,218,255,1) 100%);
    background-size: 100vw 100vh;
}

.float-center {
    padding-top: 20vh;
}

.right {
    position: relative;
    right: 20vw;
}

.left {
    position: relative;
    left: 20vw;
}


/* Shape Divider 설정 */
.custom-shape-divider-bottom-1652171182 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652171182 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1652171182 .shape-fill {
    fill:#ffffff;
}