@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
    font-family: 'nanumsquare', sans-serif;
}

.nav-button {
    z-index: 1;
    width: 50px;
    height: 50px;

    position: fixed;
    top: 1vh;
    right: 10.5vw;
    
    background: none;
    display: flex;
    align-items: center;
    align-content: center;

    border-radius: 45%;
    /* box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}
.nav-button:hover {
    animation: hover-bgcolor-change 0.2s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes hover-bgcolor-change {
    from {
        background: none;
    }
    to {
        background: rgba(0, 0, 0, 0.1);
    }
}
.nav-button img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20%;
    filter: invert(1);

    /* filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.6)); */
}

.menu-box {
    /* z-index: 1; */
    /* width: 260px; */
    width: 14vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    background: rgba(163, 172, 189, 0.1);
    backdrop-filter: blur(4px);

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.menu-appear-animation {
    animation: right-appear 0.3s ease;
    animation-fill-mode: forwards;
}
.menu-disappear-animation {
    animation: right-disappear 0.3s ease;
    animation-fill-mode: forwards;
}

.menu-list {
    position: absolute;
    top: 60px;
    left: -16px;
    right: 0;
    width: fit-content;
    padding-right: 0;

    list-style: none;
    font-size: 1.1em;
}
.menu-list li {
    /* color: #F5F9FF; */
    color: black;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 20px;

    cursor: pointer;
}
.menu-list li:hover {
    color: #0067C4;
    padding-left: 16px;
    border-left: 4px solid #0067C4;

    animation: fade-in 0.1s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes right-appear {
    from {
        right: -32vw;
    }
    to {
        right: 0;
    }
}
@keyframes right-disappear {
    from {
        right: 0;
    }
    to {
        right: -32vw;
    }
}